.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  position: relative; 
  background-image: url(../public/glassesImage/background.jpg) ;
  height: 100%;
  opacity: 1;
  background-repeat: no-repeat;
    background-size: 100% ;
   
  /* filter: brightness(50%); */
  
}

.background_overplay{
  width: 100%;
  height: 100%;
  background-color: rgb(47 42 42 / 40%);
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
.navbar {
  height: 90px;
  width: 100%;
  opacity: 1;
} 

.model {
  overflow: hidden;
}
.banner_content {
  justify-content: space-between;
  align-items: center;
  margin: 30px;

}

.img_model {
  position: relative;
  width: 100%;

}

.glassModel{
  position: absolute;
  bottom: 173px;
  /* top: -73px; */
  left: 38px;
  opacity: 1;

}
.description {
  position: absolute;
  top: 168px;
  bottom: 0px;
  left: 14px;
  right: 15px;
  background: orangered;
  opacity: 0.5;
}

.img_glass{
  border: 1px solid green;
}
 .glasses{
  background: white;
}

